body {
  font-family: sans-serif;
  color: #404040;
}

#header_container {
  border-bottom: 0.2em solid #808080;
  border-radius: 0.6em;
  padding: 0.6em;
  margin-top: -0.4em;
  margin-bottom: 1em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 2.5em;
  font-weight: bold;
}

#size_options ul {
  background: lightgray;
  border-radius: 0.5em;

  margin: 0;
  padding: 0.8em;
  display: inline-block;
}

#game_area {
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#game_board {
  height: 20em;
  width: 20em;
  border-radius: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.game_panel {
  height: 5em;
  width: 5em;
}
