body {
  font-family: sans-serif;
  color: #404040;
}

#header_container {
  border-bottom: 0.2em solid #808080;
  border-radius: 0.6em;
  padding: 0.6em;
  margin-top: -0.4em;
  margin-bottom: 1em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 2.5em;
  font-weight: bold;
}

#size_options ul {
  background: lightgray;
  border-radius: 0.5em;

  margin: 0;
  padding: 0.8em;
  display: inline-block;
}

#size_options ul:hover {
  color: white;
  background: gray;
}

#game_area {
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#game_board {
  background-color: white;
  height: 24em;
  width: 24em;

  border-radius: 0.2em;
  padding: 0.5em;

  /* Grid layout definition */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

/* Game panel style (regardless of size) */
.game_panel {
  color: white;
  background-color: lightgray;
  border-color: lightgray;
  border-radius: 15%;
  border-style: outset;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;

  /* This centers text*/
  display: grid;
  align-items: center;
}

.game_panel:hover {
  background-color: gray;
  border-color: gray;
}

/* Opened panel */
.game_panel.opened {
  background-color: darkgray;
  border-color: darkgray;
}

/* Text under button is invisible unless opened */
.panel_text {
  display: none;
}

/* Text under opened button is made visible */
.game_panel.opened > .panel_text {
  display: inline;
}

/* Different size settings for panels */

.game_panel.small {
  font-size: 3em;
  height: 1.5em;
  width: 1.5em;
}

.game_panel.medium {
  font-size: 1.5em;
  height: 2em;
  width: 2em;
}

.game_panel.large {
  font-size: 1em;
  height: 2em;
  width: 2em;
}
