body {
  font-family: sans-serif;
  color: #404040;
}

#header_container {
  border-bottom: 0.2em solid #808080;
  border-radius: 0.6em;
  padding: 0.6em;
  margin-top: -0.4em;
  margin-bottom: 1em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 2.5em;
  font-weight: bold;
}

#size_options ul {
  background-color: lightgray;
  border-radius: 0.5em;

  margin: 0;
  padding: 0.8em;
  display: inline-block;
}

#size_options ul:hover {
  color: white;
  background-color: gray;
}

#size_options ul:active {
  color: white;
  background-color: #404040;
}

/* The notification class is reserved for notifications appearing within
the header, under the title and size options. */
.notification {
  background-color: #404040;
  border-radius: 0.5em;
  margin: 0;
  margin-top: 0.6em;
  padding: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification.hidden {
  display: none;
}

.notif-text {
  color: lightgray;
  padding: 0 1em;
  font-size: 0.9em;
  font-weight: bold;
}

.notif-button-container {
  margin: 0 0.3em;
  display: flex;
  justify-content: space-between;
}

.notif-button {
  background-color: lightgray;
  color: #404040;

  padding: 0.2em 0.8em;
  margin: 0.3em 0.3em;

  border-color: lightgray;
  border-radius: 0.3em;
  border-width: 0.15em;
  border-style: solid;

  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}

.notif-button:hover {
  background-color: gray;
  border-color: gray;
  color: white;
}

.notif-button:active {
  background-color: #404040;
  border-color: #404040;
  color: white;
}

/* The information class means that the element's contents are
informational. */
.information {
  text-align: center;
  font-size: 1.2em;
}

#game_description {
  margin: 1em;
}

#game_status {
  margin: 1em;
  font-weight: bold;
  line-height: 1.5em;
}

#game_area {
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 0.5em;
}

/* This class defines the board shape and dimensions */
.board {
  height: 24em;
  width: 24em;

  border-radius: 0.5em;
  padding: 0.5em;
}

#game_board {
  background-color: white;

  /* Grid layout definition */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

#game_overlay {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: default;
}

#game_overlay.clickaway:hover {
  background: none rgba(255, 255, 255, 0.8);
}

/* The clickaway class means that the element can be
clicked into hiding */
#game_overlay.clickaway {
  cursor: pointer;
}

#overlay_message {
  font-size: 2em;
  font-weight: bold;
}

/* If overlay is hidden */
#game_overlay.hidden {
  display: none;
}

/* Game panel style (regardless of size) */
.game_panel {
  color: white;
  background-color: lightgray;
  border-color: lightgray;
  border-radius: 15%;
  border-style: outset;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  cursor: pointer;

  /* This centers text*/
  display: grid;
  align-items: center;
}

/* Reactive game panel reactions (only for closed panels) */

.game_panel.reacts:not(.opened):hover {
  background-color: gray;
  border-color: gray;
}

.game_panel.reacts:not(.opened):active {
  border-style: inset;
}

/* Opened panel */
.game_panel.opened {
  background-color: darkgray;
  border-color: darkgray;
  cursor: default;
}

/* Text under button is invisible unless opened */
.panel_text {
  display: none;
}

/* Text under opened button is made visible */
.game_panel.opened > .panel_text {
  display: inline;
}

/* Different size settings for panels */

.game_panel.small {
  font-size: 3em;
  height: 1.5em;
  width: 1.5em;
}

.game_panel.medium {
  font-size: 1.5em;
  height: 2em;
  width: 2em;
}

.game_panel.large {
  font-size: 1em;
  height: 2em;
  width: 2em;
}
